
{% extends "quizes/header1.html" %}

{% block content %}
<style>
.container2 {
            position: center;
            border-radius: 40px;
            background-color: ##F2BEAB;
            padding: 40px 20px 50px 160px;
            height: 5px;
            margin: 200px;
            align: center;
            opacity = 0.1;
            filter: alpha(opacity=10);
            align-content:center;
        } 
.container1 {
            position: center;
            border-radius: 70px;
            background-color: ##F8DAD0;
            padding: 40px 20px 50px 50px;
            height: 700px;
            margin: 100px;
            align: center;
            opacity = 0.1;
            filter: alpha(opacity=10);
            align-content:center;
        } 

        input[type=submit] {
        background-color: #DC381E;
        color: white;
        cursor: pointer;
        {% comment %} align: center; {% endcomment %}
        }

        input[type=submit]:hover {
        background-color: #DC381E;
        }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

</style>
<body>
    <div class="container2">
        <div class="row">

        {% comment %} {% set i=0 %} {% endcomment %}
        {% comment %} {% for i in range({{ Questions.objects.count }})  %} {% endcomment %}
        {% comment %} {% for i in range.Questions.objects.count %} {% endcomment %}
        {% comment %} {% with i=0 %}
        {% while i<Questions.objects.count: %}
                <h2 style="text-align:center;color:white">Question : {{ obj.i.question }}</h2>
                {% i+=1 %}
        {% endwhile %}
        
        {% endwith %} {% endcomment %}
        <h2 style="color:white">Question : {{ obj.0.question }}</h2>
        {% comment %} {% endfor %} {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <label class="container" style="color:white"> {{ obj.0.option1 }}
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" style="color:white">{{ obj.0.option2 }}
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" style="color:white">{{ obj.0.option3 }}
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" style="color:white">{{ obj.0.option4 }}
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
        </div>
        {% comment %} <div class="row justify-content-left">
            <p style="text-align:center;color:white">
                <form action="/action_page.php" target="_blank" method="POST">
                <input type="radio" name="gender" value="male" checked> {{ obj.1.answer }}<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other  
                </form>
            </p>
        </div> {% endcomment %}
    </div>

    <div class="container1"> 
        {% comment %} <div class="row justify-content-center">
            <h2 style="text-align:center;color:white">Quiz Details</h2>
        </div> {% endcomment %}
        {% comment %} {% for item in obj %} {% endcomment %}
         
  
            {% comment %} {{ obj.1.question }}
            <br>
            {{ obj.1.answer }} {% endcomment %}
             {% comment %} <div class="row justify-content-center">
            <a href="ques1.html"><input type="submit" value="Next"></a>
                </div> {% endcomment %}
            
        
        {% comment %} {% endfor %} {% endcomment %}
        {% comment %} </p>
        <p style="color:white">njsxjhbschxbiqwhexsijaiakjxlk,MABZVGHafxfsghgxkjqhkxihOPX</p>
        <p style="color:white">xkanjcsgchgsajxhiewqijsoxakOPKZOPAjizhxghjgshgxkjshklxjlqjxshuxhkql<p>
        <p style="color:white">JANVIIIIIIIIIIIIIIIII</p> {% endcomment %}
        {% comment %} <div class="row justify-content-center">
            <input type="submit" value="Start Now">
        </div> {% endcomment %} 
        <br>
        <br>
        <div class="row justify-content-center">
            <a href="ques2.html"><input type="submit" value="Next"></a>
        </div>
    </div>


    
</body>
{% endblock %}