{% extends "page/header.html" %}

{% block content %}
<style>
.container {
            position: center;
            border-radius: 40px;
            background-color: ##F2BEAB;
            padding: 40px 20px 50px 140px;
            height: 300px;
            margin: 200px;
            align: center;
            opacity = 0.1;
            filter: alpha(opacity=10);
            align-content:center;
            {% comment %} margin-left = 1000px; {% endcomment %}
        } 

        input,
        .btn {
        width: 50%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none; /* remove underline from anchors */
        }

        input:hover,
        .btn:hover {
        opacity: 1;
        }

        input[type=submit] {
        background-color: #DC381E;
        color: white;
        cursor: pointer;
        {% comment %} align: center; {% endcomment %}
        }

        input[type=submit]:hover {
        background-color: #DC381E;
        }
</style>
<body>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h2 style="text-align:center;color:white">Registration</h2>
        </div>
        <div class="row justify-content-center">
            <input type="text" name="username" placeholder="Name" required>
        </div>
        <div class="row justify-content-center">
            <input type="email" name="Email" placeholder="Email" required>
        </div>
        <div class="row justify-content-center">
            <input type="number" name="Age" placeholder="Age" required> 
        </div>
        <div class="row justify-content-center">
            <input type="text" name="City" placeholder="City" required> 
        </div>
        <div class="row justify-content-center">
            <input type="text" name="State" placeholder="State" required> 
        </div>
        <div class="row justify-content-center">
            <input type="text" name="Country" placeholder="Country" required> 
        </div>
        <div class="row justify-content-center">
            <input type="text" name="occupation" placeholder="Occupation" required> 
        </div>
        <div class="row justify-content-center">
            <input type="password" name="password" placeholder="Password" required> 
        </div>
        <div class="row justify-content-center">
            <input type="password" name="confirm password" placeholder="Confirm Password" required> 
        </div>
        <div class="row justify-content-center">
            <input type="submit" value="Register">
        </div>

        {% comment %} <div class="row justify-content-center" align="center">
        <a href ="#">Not A Member Yet? Click here to Register</a>
        </div> {% endcomment %}
    </div>
    

{% endblock %}