{% extends "quizes/header.html" %}
{% block content %}  
<style>
    #mainbox 
    {
        position: relative;
        padding :3em;
        padding-top :2em;
        border-radius: 40px;
        /* height: 27em; */
        width: 25em;
        margin: auto;
        margin-top: 3em;
        border-style: ridge;
        align-content:center;
        background-color: rgb(0,0,0,0.4);
    }
    /* .row > div
    {
        border:0.1em solid white;
    } */
    .heading
    {
        border-right: 0.1em solid white;
        text-align: right;
    }
    </style>
</head>
<body style="font-size: 1.25em;color:white">
    <div class="container wrapper" id="mainbox">
        <div class="row">
            <div class="col-12" style="margin-bottom: 1em">
                <h1 style="font-size:2em">Your Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Username</p>
            </div>
            <div class="col-8">
                <p>{{ username }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Age</p>
            </div>
            <div class="col-8">
                <p>{{ Age }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>City</p>
            </div>
            <div class="col-8">
                <p>{{ City }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>State</p>
            </div>
            <div class="col-8">
                <p>{{ State }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Country</p>
            </div>
            <div class="col-8">
                <p>{{ Country }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Occupation</p>
            </div>
            <div class="col-8">
                <p>{{ Occupation }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Score</p>
            </div>
            <div class="col-8">
                <p>{{ score }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 heading">
                <p>Time</p>
            </div>
            <div class="col-8">
                <p>{{ time }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}