{% extends "quizes/header1.html" %}

{% block content %}
<style>
.container {
            position: center;
            border-radius: 40px;
            background-color: ##F2BEAB;
            padding: 40px 20px 50px 160px;
            height: 5px;
            margin: 200px;
            align: center;
            opacity = 0.1;
            filter: alpha(opacity=10);
            align-content:center;
        } 
.container1 {
            position: center;
            border-radius: 70px;
            background-color: ##F8DAD0;
            padding: 40px 20px 50px 50px;
            height: 700px;
            margin: 100px;
            align: center;
            opacity = 0.1;
            filter: alpha(opacity=10);
            align-content:center;
        } 

        input[type=submit] {
        background-color: #DC381E;
        color: white;
        cursor: pointer;
        {% comment %} align: center; {% endcomment %}
        }

        input[type=submit]:hover {
        background-color: #DC381E;
        }
</style>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h2 style="text-align:center;color:white">Quiz Details</h2>
        </div>
    </div>

    <div class="container1">
        {% comment %} <div class="row justify-content-center">
            <h2 style="text-align:center;color:white">Quiz Details</h2>
        </div> {% endcomment %}
        <p style="color:white">njsxjhbschxbiqwhexsijaiakjxlk,MABZVGHafxfsghgxkjqhkxihOPX</p>
        <p style="color:white">xkanjcsgchgsajxhiewqijsoxakOPKZOPAjizhxghjgshgxkjshklxjlqjxshuxhkql<p>
        <p style="color:white">JANVIIIIIIIIIIIIIIIII</p>
        <div class="row justify-content-center">
            <a href="ques1.html"><input type="submit" value="Start Now"></a>
            
        </div>

    </div>


    
</body>
{% endblock %}